@font-face {
    font-family: GoudyOldStyle;
    src: url(goudy.woff2);
}

body {
    background-color: white;
    font-family: GoudyOldStyle;
}

.letter {
    padding: 24px;
    background-color: navajowhite;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}